 .review-box {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.newreviewbutton{
    margin-bottom: 20px;
}

.reviews-background{
  padding-bottom: 50px;
}

.btn-custom {
  background-color: #FFD6D6;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #FFA5A5;
}
