.profileButton {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFD6D6;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profileButton:hover {
  background-color: #FFA5A5;
  color: #000;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-info {
  width: 100%;
  align-items: center;
}
